<!DOCTYPE html>
<html lang="en">
<head>
    <title>contact</title>
    <link rel="stylesheet" href="/style/home.css">
</head>
<body>
    <div class="logo">
        <img src="/image/logo.png" alt="rxcode-logo">
    </div>
    
</body>
</html>