<!DOCTYPE html>
<html lang="en">
<head>
    <title>Projects</title>
    <link rel="stylesheet" href="/style/projects.css">
</head>
<body>
    <div class="logo">
        <img src="/image/logo.png" alt="rxcode-logo">
    </div>
    <div class="card">
  <img src="/image/profile-img.jpg" alt="Profile Image">
  <div class="card-content">

  </div>
</div>
</body>
</html>